/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 55px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
}

/* Universal tags*/
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: #616161;
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 4px 0;
}
/****************************************/

/* Navbar */
#navbar {
  display: flex; /*박스가 양쪽에 나올수 있게*/
  justify-content: space-between; /*간격이 떨어지도록*/
  background-color: var(--color-white);
  align-items: center;
  color: #30b7e8;
  padding: 5px;
}
.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.nav__menu {
  display: flex;
  margin-right: 30px;
}
.navbar__mene__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}
.navbar__mene__item.active {
  color: #82bbb5;
}
.navbar__mene__item:hover {
  text-decoration: underline;
}

/* Home */
#home {
  background: url("image/main.png") center/cover no-repeat;
  padding: 120px;
  text-align: center;
}
.textBox {
  width: 400px;
  height: 300px;
  background-color: var(--color-white);
  display: inline-block;
  margin-left: 150px;
  margin-top: 70px;
}
.home__title {
  color: red;
  font-size: 70px;
  line-height: 100%;
  margin: -50px 0 0 20px;
  font-weight: bolder;
  text-align: left;
  letter-spacing: -1px;
}
.home__description {
  color: #616161;
  line-height: px;
  font-size: 13px;
  padding: 40px 60px 40px 20px;
  text-align: left;
}
.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  color: #616161;
}

/* Section common*/
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}
.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About*/
#about {
  background-color: #30b7e8;
  padding: 100px 120px 50px 0px;
  text-align: right;
  color: var(--color-white);
  font-size: 12px;
}

.about__jobs {
  margin: 100px 0px 0px 0px;
  text-align: right;
}
.jobs {
}
.job__period {
  text-align: left;
}

/* Skills */
#skills {
  text-align: left;
  color: #30b7e8;
}
.skills__type--first {
  text-align: center;
}
.skills__type--second {
  text-align: center;
}
.skills__type--first img {
  width: 130px;
  height: 130px;
  margin: 30px;
}
.skills__type--second img {
  width: 135px;
  height: 135px;
  margin: 30px;
}

/* Work */
#work {
  padding: 120px;
}
.work__projects {
  counter-reset: article;
  margin: 0 0 5rem;
  list-style: none;
  counter-increment: article;
}

.project__morip {
  display: flex;
  margin-top: 100px;
}
.project__library {
  display: flex;
  margin-top: 150px;
}
.project__img {
  flex-basis: 50%;
}
.project__caption {
  flex-basis: 50%;
}

.project_title::before {
  color: #30b7e8;
  display: inline-block;
  width: 110px;
  position: relative;
  left: -0.05em;
  vertical-align: -0.1em;
  line-height: 1;
  font-size: 64px;
  font-weight: 400;
  content: counter(article, decimal-leading-zero);
}
#listContainer {
  margin-top: 50px;
  margin-bottom: 50px;
}
#listWrapper {
  display: flex;
  margin-left: 80px;
}
#listDesign {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.checkmark {
  display: inline-block;
  border: 5px solid #60d300;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  /*margin-top: 2em;*/
  margin-right: 10px;
}
.category__btn {
  background: #30b7e8;
  border-radius: 44px;
  display: inline-block;
  min-width: 7em;
  padding: 12px 16px 14px;
  letter-spacing: -0.03em;
  line-height: 18px;
  margin-right: 10px;
}
.category__btn:hover {
  transform: scale(1.1);
}

/* Contact */
#contact {
  padding-top: 120px;
  background-color: #272626;
  color: var(--color-white);
}
.contact__container {
  display: flex;
  justify-content: center;
  text-align: left;
}
.contact__title {
  margin: 0px 100px;
}
.contact__Txt {
  margin-left: 40px;
  margin-top: 30px;
}
.contact__list {
  margin-top: 30px;
  line-height: 33px;
}
.contact__list :hover {
  transform: scale(1.1);
  color: #30b7e8;
}
